[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
requests = "*"
fastapi = "*"
bcrypt = "*"
cryptography = "*"
python-jose = "*"
python-multipart = "*"
sqlalchemy = "*"
passlib = "*"
pymongo = {extras = ["srv"], version = "==3.12"}
certifi = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.13"
