[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pymongo = {extras = ["srv"], version = "==3.12"}
certifi = "*"
python-dotenv = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.13"
